<!-- <a href="" class="link button-primary-darker">Primary</a><br /><br />
<a href="" class="link button-primary-lighter">Primary</a><br /><br />
<a href="" class="link button-accent-darker">Primary</a><br /><br />
<a href="" class="link button-accent-lighter">Primary</a><br /><br />
<a href="" class="link button-default">Primary</a><br /><br />
<div class="shadow-1"></div>
<div class="shadow-2"></div>
<div class="shadow-3"></div> -->
<!-- <br />
<mat-form-field>
  <input matInput type="text" class="input-square" />
  <mat-icon matSuffix>account_circle</mat-icon>
</mat-form-field>
<br />
<div class="inputdata">
  <input type="text" class="input-default" placeholder="Username" />
  <mat-icon>account_circle</mat-icon>
</div>
<div class="inputdata">
  <input
    [type]="hide ? 'password' : 'text'"
    class="input-default"
    placeholder="Username"
  />
  <mat-icon (click)="hide = !hide" [attr.aria-pressed]="hide">{{
    hide ? "visibility_off" : "visibility"
  }}</mat-icon>
</div>
<input type="text" class="input-square" />
<mat-icon matSuffix>account_circle</mat-icon>
<br />
<br />
<input type="text" class="input-circle" />
<br /> -->

<!-- <div class="inputdata-circle">
      <input type="text" class="input-default" placeholder="Username" />
      <mat-icon>add</mat-icon>
    </div> -->
<!-- <mat-icon class="circle-button">add</mat-icon>
    <input type="text" class="input-circle" />
    <a href="" class="link button-primary-darker">Primary</a><br /><br />
    <a href="" class="link button-primary-lighter">Primary</a><br /><br />
    <a href="" class="link button-accent-darker">Primary</a><br /><br />
    <a href="" class="link button-accent-lighter">Primary</a><br /><br />
    <a href="" class="link button-default">Primary</a><br /><br /> -->
