#one {
  height: 100%;
}
.one-heading {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}
.one-heading > div {
  display: flex;
  flex-direction: row;
}
h1 {
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}
.spacer {
  flex: 1 1 auto;
}
.icon {
  padding: 10px;
  margin: 0 5px;
  /* background: #e9e0e0; */
  /* background: #c0e8ff; */
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 100%;
  cursor: pointer;
}
/*one-contact*/
.one-contact {
  /* background: #ffffff; */
  border: 1px solid #e0e0e0;
  padding: 20px;
  background: #ffffff;
  width: 500px;
}
.message-box {
  width: 100%;
}
.input-text {
  border: 1px solid #e0e0e0;
  padding: 10px;
  font-size: 18px;
  width: 98.4%;
  background: #f5f5f5;
}
.inputdata {
  width: 100%;
  padding-right: 10px;
  background: #f5f5f5;
}
.input-default {
  width: 100%;
  background: #f5f5f5;
}
.input-text:focus {
  outline: none;
  border: 1px solid #989898;
}
.image-upload > input {
  display: none;
}

.image-upload img {
  width: 80px;
  cursor: pointer;
}
@media screen and (max-width: 568px) {
  .one-heading {
    flex-direction: column;
  }
}
