<section class="main-features">
  <h1>Pricing</h1>
  <div class="features">
    <div class="price-section">
      <h2>Free</h2>
      <ul>
        <li>500 Contacts</li>
        <li>Autoresponder</li>
        <li>Sheduler</li>
        <li>Add Tasks</li>
        <li>Reports</li>
      </ul>
      <br />
      <a class="button-accent-lighter">Start</a>
      <br />
      <br />
    </div>
    <div class="price-section">
      <h2>Monthly</h2>
      <ul>
        <li>Unlimated Contacts</li>
        <li>Autoresponder</li>
        <li>Sheduler</li>
        <li>Add Tasks</li>
        <li>Reports</li>
      </ul>
      <br />
      <a class="button-accent-lighter">Buy Now</a>
      <br />
      <br />
    </div>
    <div class="price-section">
      <h2>Yearly</h2>
      <ul>
        <li>Yearly Contacts</li>
        <li>Autoresponder</li>
        <li>Sheduler</li>
        <li>Add Tasks</li>
        <li>Reports</li>
      </ul>
      <br />
      <a class="button-accent-lighter">Buy Now</a>
      <br />
      <br />
    </div>
  </div>
</section>
