<footer class="main-page-footer">
  <div>
    <h2>Information</h2>
    <ul>
      <li>About Us</li>
      <li>Features</li>
      <li>Pricing</li>
      <li>Blog</li>
      <li>Contact Us</li>
    </ul>
  </div>
  <div>
    <h2>Blog</h2>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
  </div>
  <div>
    <h2>Contact</h2>
    <ul>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
      <li>Something</li>
    </ul>
  </div>
</footer>
