<section class="box-2 blog">
  <div class="main-blog">
    <div class="demo-blog ">
      <div class="circle-blog">
        <img
          src="../../../assets/cnckwenjek.jpeg"
          width="auto"
          height="auto"
          class="img-responsive img-circle"
          alt=""
        />
        <div class="content-circle">
          <h1>Why SnapChat will be great for B2B Companies</h1>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
        <div class="status">
          <div class="inputdata">
            <input type="text" class="input-default" placeholder="Comment" />
          </div>
          <mat-icon class="but-send">send</mat-icon>
          <span class="example-spacer"></span>
          <mat-icon>favorite</mat-icon>
          <mat-icon>thumb_up_alt</mat-icon>
          <mat-icon>share</mat-icon>
        </div>
      </div>
    </div>
    <div class="demo-blog">
      <div class="blog-pop">
        <div class="blog-popular">
          <h1>Popular</h1>
          <span class="example-spacer"></span>
          <mat-icon>more_horiz</mat-icon>
        </div>
        <div class="blog-content">
          <img
            src="../../../assets/cnckwenjek.jpeg"
            width="auto"
            height="auto"
            class="img-responsive"
            alt=""
          />
          <h2>Promote your products and services</h2>
        </div>
        <div class="blog-content">
          <h2>Promote your products and services</h2>
        </div>
        <div class="blog-content">
          <h2>Promote your products and services</h2>
        </div>
        <div class="blog-content">
          <h2>Promote your products and services</h2>
        </div>
        <div class="blog-content">
          <h2>Promote your products and services</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="main-small-blog">
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/cnckwenjek.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/pexels.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/cnckwenjek.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/pexels.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/cnckwenjek.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
  <div class="circle-blog small-blog">
    <img
      src="../../../assets/cnckwenjek.jpeg"
      width="auto"
      height="auto"
      class="img-responsive img-circle"
      alt=""
    />
    <div class="content-circle">
      <h3>Why SnapChat will be great for B2B Companies</h3>
    </div>
    <div class="status">
      <mat-icon>favorite</mat-icon>
      <mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>share</mat-icon>
    </div>
  </div>
</div>
